<!DOCTYPE html>
<html>
<head>
<title>Вхід</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/reg.css">
</head>

<body>
<form action="/check" method="post">
<label class="Container">Введіть свій імейл: </label>
<input name="email" type="email" required>
<br>
<label class="Container">Введіть пароль: </label>
<input type="password" name="password" required >
<br>
<button type="submit">Увійти</button>
<br>
<div>
<label>Немає аккаунту?</label>
<a href="/registration">Зареєструватися</a>
</div>
</form>


</body>



</html>