<!DOCTYPE html>
<html>
<head>
<title>Головна</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/home.css">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='WebLogo.png') }}">
</head>

<body>
<a href="/home/{{user_id_}}">
    <img class="logo" src="/static/WebLogo.png">
    <label class="logoText">LeTube</label>
</a>
<a href="/main/{{user_id_}}" class="Account">
    {% if avatar_exists %}
     <img class="avatar" src="/static/Avatar/avatar_{{user_id_}}.jpg">
    {% else %}
    <img class="avatar" src="/static/Avatar/default_avatar.jpg">
    {% endif %}
    </a>
<ul class="videopre">
    {%for video in video_names%}
    <li class="videolink">
        <a href="/video/{{ video.id }}/{{ user_id_ }}">
            <img src="/static/Previews/preview_{{ video.id }}.jpg" alt="Preview Image">
            
        </a>
        <div class="avtor">
        <img class="avatar" src="/static/Avatar/avatar_{{video.user_id}}.jpg">
        <div class="nickname_filename">
        <a href="/video/{{video.id}}/{{user_id_}}"><div class="filename">{{video.filename}}</div></a>
        {% for user in Users %}
            {% if user.id == video.user_id %}
            <p class="nickname">
                {% if user.nickname %}
                    <a href="/user_page/{{user_id_}}/{{video.user_id}}">{{ user.nickname }}</a>
                {% else %}
                    <a>NoName</a>
                {% endif %}
            </p>
            {% endif %}
        {% endfor %}
            </div>
        </div>
    </li>
    <br>
{%endfor%}

</ul>
</body>



</html>